nav.container_menu
	.catalog_btn
		.header_burger_catalog
			span
				span.catalog
			.title_catalog Каталог
		.header_catalog
			ul.header_list_catalog
				li
					a.header_link(href="") Карнизы
				li
					a.header_link(href="") Ткани
				li
					a.header_link(href="") Солнцезащита
				li
					a.header_link(href="") Аксессуары

	.menu
		//.menu-burger
			.header_burger
				span
		.header_menu
			ul.header_list
				li
					a.header_link(href="") Галерея работ    
				li
					a.header_link(href="") Конструктор
				li
					a.header_link(href="") Услуги
				li
					a.header_link(href="") Прайс
				li
					a.header_link(href="") Оплата
				li
					a.header_link(href="") Доставка

