
.bottom_body_bg
	.div_bg_left-bottom
	.div_bg_right-bottom
footer.border-top-line
	.container
		.footer
			.col 
				p.footer_p-left Call центр ежедневно
					span С 9:00 до 18:00 
			.col 
				p.footer_p-center domjarnizov@mail.ru
					span +7 (990) 555-55-55
			.col 
				p.footer_p-right Дом карнизов
					span интернет-магазин