nav 
	.menu 
		ul.menu-main 
			li.menu-main-item
				a(href="#").menu-main-link.active Главная 
			li.menu-main-item
				a(href="#").menu-main-link Главная
			li.menu-main-item
				a(href="#").menu-main-link Главная
			li.menu-main-item
				a(href="#").menu-main-link Главная
			li.menu-main-item
				a(href="#").menu-main-link Главная
			li.menu-main-item
				a(href="#").menu-main-link Главная
			li.menu-main-item
				a(href="#").menu-main-link Главная