nav.navbar-nav
	.container
		ul.categories-menu.navbar-left
			li.menu-item.menu-item-has-children.dropdown
				a.envo-categories-menu-first(href="#") Каталог
				ul#menu-3.dropdown-menu
					li.menu-item.menu-item-type-post_type_archive.menu-item-object-product.menu-item-146.nav-item
						a.nav-link(title="Все товары" href="#") Все товары
					li.menu-item.nav-item
						a.nav-link(href="#") Ткани
					li.menu-item.nav-item
						a.nav-link(href="#") Tshirts
					li.menu-item.nav-item
						a.nav-link(href="#") Солнцезащита
					li.menu-item.nav-item
						a.nav-link(href="#") Аксессуары
					li.menu-item.nav-item
						a.nav-link(href="#") Карнизы
		#my-menu-right.menu-container
			ul.nav.navbar-nav
				li.menu-item.nav-item
					a.nav-link.active(title="Главная" href="#") Галерея работ
				li.menu-item.nav-item
					a.nav-link(href="#") Конструктор
				li.menu-item.nav-item
					a.nav-link(href="#") Услуги
				li.menu-item.nav-item
					a.nav-link(href="#") Прайс
				li.menu-item.nav-item
					a.nav-link(href="#") Оплата
				li.menu-item.nav-item
					a.nav-link(href="#") Доставка