section.container
	.slider 
		.baner 
			.baner-img
				img(src="./images/Banner.png", alt="")
				.slider-title 
					.title Карнизы Monstera
					.description Популярные дизайнерские решения для вашего дома
					//- a.btn.btn-primary(type='submit') Подробнее
					a.btn.btn-primary(href="#") Подробнее