.menu-catalog 
		ul.menu-catalog-ul 
			li.menu-catalog-item
				a(href="#").menu-catalog-link.active Главная 
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная
			li.menu-catalog-item
				a(href="#").menu-catalog-link Главная