- var pageTitle = 'Дом карнизов | интернет–магазин'

doctype html
html(lang="ru")
	head
		title=pageTitle
		link(rel="stylesheet", href="styles/normalize.css")
		link(rel="stylesheet", href="styles/fonts.css")
		link(rel="stylesheet", href="styles/styles.css")
		
		//-	Подключаем адаптивность
		meta(name="viewport" content="width=device-width")
	body
		.wrapper
			//-	Подключаем шапку с меню Шапка липкая
			include modules/_header.pug
			//- include modules/catalog-and-menu
			//-	Выводим контент страницы
			main.main
				section.container
					//-h1 Pug- node templayion enginecd
					.conteiner-iteam
						a.conteiner-iteam-block(title="Карнизы" href="#")
							img(src="./images/karniz.png" alt="")
							.conteiner-iteam-title
								span.title Карнизы
						a.conteiner-iteam-block(title="Ткани" href="#")
							img(src="./images/tkani.png" alt="")
							.conteiner-iteam-title
								span.title Ткани
						a.conteiner-iteam-block(title="Солнцезащита" href="#")
							img(src="./images/solncezashita.png" alt="")
							.conteiner-iteam-title
								span.title Солнцезащита
						a.conteiner-iteam-block(title="Аксессуары" href="#")
							img(src="./images/aksessuary.png" alt="")
							.conteiner-iteam-title
								span.title Аксессуары
				include modules/_slider
				include modules/_section_you_view
			//-	Подключение footera
			include modules/_footer
		//-	Подключение скриптов
		script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
		script(src="js/menu-script.js")